# Dependências instaladas pelo npm (reinstaláveis com `npm install`)
node_modules/

# Artefatos do Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
